logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

app/web/.env.local
app/web/.umirc.local.ts
app/web/config/config.local.ts
app/web/src/.umi
app/web/src/.umi-production
app/web/src/.umi-test
app/web/.umi
app/web/.umi-production
app/web/.umi-test
app/web/dist
app/web/.mfsu

.umi
.umi-production
